@media (max-width: 820px) and (min-width: 720px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  #landing .intro {
    display: block;
    left: 10%;
    font-size: 24px;
  }
  #ty {
    display: block;
    top: 15rem;
    left: 8%;
    font-size: 20px;
    width: 80vw;
  }
  .wrap {
    font-size: 28px;
  }
  #landing button {
    height: 6vh;
    width: 30vw;
    top: 70%;
    left: 10%;
    font-size: 18px;
  }
  #about {
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    height: 180vh;
    align-items: center;
    font-size: 32px;
    transition: all 0.25s ease-in-out;
    left: 3%;
  }
  #about img {
    display: block;
    margin-left: 15%;
    height: 25vh;
    width: 30vh;
    margin-top: 0%;
  }
  #myintro {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 32px;
  }
  #skills {
    position: absolute;
    display: block;
    top: 70%;
  }
  #lang img {
    height: 8vh;
    width: 15vw;
  }
  #lang table th {
    font-size: 28px;
    color: rgb(92, 255, 225);
  }
  #tools {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    height: inherit;
    display: none;
  }
  #tools:first-child {
    column-span: 12px;
  }
  #tools img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #about #info {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding-left: 50px;
    margin-left: -5%;
    width: 65vw;
  }
 #resume{
   position: relative;
  margin-top: 50%;
  height: 150vh;
  display: flex;
  flex-direction: column;

}




  #projects .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  #projects .project:hover {
    height: 16vh;
    width: 52vw;
  }
  #projects .project {
    height: 18vh;
    width: 60vw;
    margin-top: 2%;
    margin-left: 10%;
  }
  #container {
    width: 90vw;
    display: flex;
    justify-content: center;
  }
  #project_card {
    grid-template-columns: repeat(2, 5fr);
    row-gap: 12px;
  }
  .cards {
    height: 20vh;
    margin: 10px 15%;
    font-size: 18px;
  }
  #lib img {
    display: none;
  }
  #mob-tools {
    display: block;
    text-align: center;
  }
  #mob-tools img {
    height: 8vh;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mob-tools td {
    padding-inline-start: 12px;
    margin-left: 10px;
  }
  #mob-tools table:last-child img {
    height: 5vh;
  }
  #mob-tools th {
    text-align: center;
    font-size: 28px;
    color: aqua;
  }
  #lib {
    display: none;
  }
  #mobile-lib {
    display: block;
    text-align: center;
    width: 80vw;
  }
  #mobile-lib table {
    width: 75vw;
  }
  #mobile-lib th {
    text-align: center;
    font-size: 24px;
    color: aqua;
  }
  #mobile-lib td {
    padding-inline-start: 12px;
  }
  #mobile-lib img {
    height: 5vh;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #projecthead{
    font-size: 100px;
  }
  .projContainer{
    left: 5%;
  }



  #ft{
  opacity: 0;
  }
  .ft-tab{
    position: relative;
    height: 40vh;
    display: block;
    background-color:transparent;
    margin-top: 60%;
 
  }
  .social-icon{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: rgb(255, 115, 115);
  }
  .ft-tab h2{
    text-align: center;
    font-size: 32px;
    color: rgb(255, 115, 115);
  }
}
