#ft {
  position: absolute;
  display: block;
  background-color: #191627a1;
  height: 40vh;
  width: 100vw;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#follow {
  height: 30vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 15%;
  color: rgb(255, 122, 122);
  font-size: 28px;
  font-weight: 700;
}
#follow i {
  font-size: 32px;
}
#Links{
  width: 80vw;
  color: rgb(255, 116, 116);
  font-size: 28px;
  text-align: center;
}
#Links a {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: rgb(255, 116, 116);
  font-size: 28px;
  text-align: center;
}

#ME{
    position:absolute;
    margin-top: 18%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    width: 100vw;
    color: aqua;
    font-size: 1.5rem;
}
@media (max-width: 426px) {
  #ft {
    position: absolute;
    height: 55vh;
    width: 100vw;
    background-color: #191627;
    margin-top: 280%;
    grid-template-columns: repeat(1, 1fr);
  }
    #follow {
        width: 100vw;
        text-align: center;
        margin-left: 4%;
        font-size: 22px;
    }
    #Links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;

    }
    #Links a{
        margin-top: 2%;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
    }
#follow i {
    font-size: 21px;
}
#ME{
    margin-top: 135%;
}
}